<!DOCTYPE html>

<!-- define angular app -->
<html>

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Jquery -->
  <script src="assets/libs/jquery-3.2.1.min.js"></script>


  <!-- Angular -->
  <script src="assets/libs/angular.min.js"></script>
	<script src="assets/libs/angular-route.min.js"></script>
  <script src="assets/libs/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-socket-io/0.7.0/socket.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/app.services.js"></script>

</head>
<body  ng-app='app' ng-controller='temperatureCtrl'>
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
        <li><a href="temperature"><i class="fa fa-thermometer-empty"></i> Temperatura</a></li>
        <li><a href="humidity"><i class="fa fa-tint"></i> Humedad</a></li>
        <li><a href="records"><i class="fa fa-history"></i> Históricos</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div id="main">
      <div class="jumbotron text-center">
  	    <h1>Bienvenido </h1>
      	<p>En esta página puedes ver la temperatura y la humedad de Medellín en tiempo real</p>
     </div>
    </div>
  </div>

  <div class="w3-content w3-display-container">
    <div class="mySlides">
      <row>
        <p> <b>ID dispositivo:</b> {{ disp1}}  <b>Posición:</b> {{pos1}} <b>Fecha de muestreo:</b> {{timestamp1}} </p>
      </row>
    <row>
      <div class="jumbotron text-center">
    	  <p style="width:100%"><b>Temperatura:</b> {{temperature1}} </p>
      </div>
    </row>
    </div>
    <div class="mySlides">
      <row>
        <p> <b>ID dispositivo:</b> {{disp2}}  <b>Posición:</b>  {{pos2}} <b>Fecha de muestreo:</b> {{timestamp2}} </p>
      </row>
    <row>
      <div class="jumbotron text-center">
    	  <p style="width:100%"><b>Temperatura:</b> {{temperature2}}  </p>
      </div>
    </row>
    </div>
    <div class="mySlides">
      <row>
        <p> <b>ID dispositivo:</b>  {{disp3}}   <b>Posición:</b>  {{pos3}} <b>Fecha de muestreo:</b> {{timestamp3}} </p>
      </row>
    <row>
      <div class="jumbotron text-center">
    	  <p style="width:100%"><b>Temperatura:</b> {{temperature3}}  </p>
      </div>
    </row>
    </div>
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

  <div class="row" align="center">
    <div class="col-md-12" >
      <button ng-click="saveRecord();" type="button" class="btn btn-info"><b>Guardar histórico<b></button>
    </div>
  </div>
</body>

</html>
